In [24]:
import pandas as pd
import numpy as np
import pyarrow.parquet as pq

In [25]:
file = pd.read_parquet("rfv_pt1.parquet")
file2 = pd.read_parquet("rfv_pt2.parquet")
file3 = pd.read_parquet("rfv_pt3.parquet")

#### Description

* faturamento: PX_REAL_TOTAL - preço do produto 
* vlr_unidades - unidades vendidas  (soma)
* cnpj_pdv: cnpj do pdv
* nm_pdv: nome daquele pdv
* dt_anomes: mes referencia

In [30]:
file.tail(5)

,faturamento,unidades,cnpj_pdv,nm_pdv,dt_anomes
667626,282.499192,16.50,84683481073808,FARMACIA PRECO POPULAR ...,202304
667627,209.882111,2.00,49019132000154,RLF CACADOR SPERANCA ...,202303
667628,1419.134948,104.28,88212113120180,SAO JOAO FARMACIAS ...,202303
667629,482.012844,32.39,88212113120180,SAO JOAO FARMACIAS ...,202304
667630,858.727182,31.00,48927682000109,FARMACIA FARMACARE ...,202303

In [26]:
result = pd.concat([file, file2, file3])

In [27]:
result

,faturamento,unidades,cnpj_pdv,nm_pdv,dt_anomes
0,1302.266116,89.00,82073909000134,FCIA SIOFARMA,202209
1,235.909303,17.00,82073909000134,FCIA SIOFARMA,202210
2,1362.461921,104.00,82073909000134,FCIA SIOFARMA,202211
3,678.552462,68.00,82073909000134,FCIA SIOFARMA,202212
4,970.252715,45.00,82073909000134,FCIA SIOFARMA,202301
...,...,...,...,...,...
358883,4.800232,1.00,00504925000170,MANARY PRAIA HOTEL,202204
358884,24757.961010,1302.73,16010431013157,DROGARIA SANTA MARTA,202203
358885,38858.087972,2385.56,16010431013157,DROGARIA SANTA MARTA,202204
358886,70.426778,18.00,34638228000123,FARMACIA VERDE,202204
358887,573.250525,148.00,43038639000179,MG FARMA,202204

In [35]:
result.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1392291 entries, 0 to 358887
Data columns (total 5 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   faturamento  1392291 non-null  float64
 1   unidades     1392291 non-null  float64
 2   cnpj_pdv     1392291 non-null  object
 3   nm_pdv       1392291 non-null  object
 4   dt_anomes    1392291 non-null  int64
dtypes: float64(2), int64(1), object(2)
memory usage: 63.7+ MB